body {
  background-color: white;
}

.header {
  background-color: #212529;
}

.box {
  outline: thick double grey;
  margin: 20px
}

hr {
  color: grey;
  margin: 0px
}

/* .emptyRight {
  width: 84px;
  padding: 0 12px;
} */

.slider {
  width: 60px;
  height: 34px;
  position: relative;
  display: block;
  background-color: #ccc;
  border-radius: 100px;
  box-shadow: inset 0 5px 20px #aaa;
  cursor: pointer;
  transition: all .3s;
  margin-top: 5px;
  /* border: .1px #ddd solid */
  /* margin-right: 3px; */
}

.slider::after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #212529;
  border-radius: 50%;
  transition: all .3s
}

#switch:checked+.slider {
  background-color: #212529;
  box-shadow: none;
}

#switch:checked+.slider::after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
  background-color: #ccc;
}

.slider:active::after {
  width: 34px
}

.slider .bulb {
  position: absolute;
  z-index: 10;
  left: 11px;
  color: white;
  top: 9px;
  transition: all .3s
}

#switch:checked+.slider .bulb {
  position: absolute;
  z-index: 10;
  /* 11 + 26 px */
  left: 36px;
  color: black;
  top: 9px
}

/* .qa{
  width: 70%;
} */

.question {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 5px
}

p {
  font-size: 16px;
  line-height: 2;
  padding: 5px 20px;
  color: black
}